.header-container {
  width: 100%;
  background: black;
  height: 75px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.left-space-holder {
  width: 300px;
}

.header-title {
  color: white;
  font-size: 25px;
  width: 300px;
  text-align: center;
  font-family: georgia;
}

.api-key-form {
  width: 300px;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.api-key-input {
  margin-right: 5px;
  max-height: 25px;
  height: 25px;
  font-family: georgia;
  width:200px;
  font-size: 16px;
}

.api-key-submit {
  min-height: 25px !important;
  height: 25px;
  font-family: georgia;
  font-size: 16px;
  display:flex;
  &:hover{
    cursor: pointer;
  }
}
